    body {
        background: #eeeeec;
    }
    
    
    

    .submit{
        background-color: #da8f33d5;
        border-radius: 20px;
        height: 35px;
    }
    
    .learn{
        background-color: #f7f6f4;
        border-radius: 20px;
        height: 35px;
        color: black;
    }
    
    .cont {
        margin: 30px auto;
        background: #f9e3c2;
        padding: 10px;
        width:98%;
    }
    
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav{
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .nav a {
     
        color: #c46c00;
       
    }
    .btn {
  background-color: #e67e22;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
    
    .con {
        margin: 30px auto;
        background: #dadfdf;
        width: 98%;
        padding: 10px;
    }
    
    


    .yes {
        text-align: end;
    }
    .meals{
        margin-top: 40px;
        text-align: center;
        color: #c46c00;
    }
    .section{
        display: flex;
        gap: 170px;
        justify-content: center;
    }
    
    .one{
        background-color: #ffffff;
        width: 200px;
        text-align: center;
        margin-top: 20px;
    }
    
    .recipe{
        text-align: center;
       
        padding: 100px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .life{
        background-color: #f7d2a4;
       padding: 40px 50px;
       border-radius: 10px;
       width:90%;
       margin: 40px auto;
       margin-bottom: 50px;
        
       
                
    }
    
   .step-text {
    width: 45%;
} 
.step {
    display: flex;    
    align-items: center;
    justify-content: space-between;
}
 .step:nth-child(odd){
    flex-direction: row-reverse;
 }
 
 
 
 
 
 .h5{
        color: #c46c00;
 }
.h2{
    color: rgb(45, 1, 1);
}

.thanks{
    text-align: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.hero-img {
    width: 300px;
    display: block;
}
.a{
    color: blue;
}


.mal{
 margin-top: 30px;
    text-align: justify;
    position: relative;
    left: 150px;
}


@media (max-width: 768px) {

    .head {
        flex-direction: column;
        gap: 15px;
    }

    .nav {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img {
        width: 90%;
    }

    .step {
        flex-direction: column !important;  /* fixes reverse bug */
        text-align: center;
    }
    .step-text {
        width: 100%;
    }

    .section {
        gap: 20px;
    }

    .one {
        width: 90%;
    }

    .recipe {
        padding: 20px;
    }
}